{% extends "templates/navbar.html" %}
{% load static %}

{% block head %}
    <script>
        var m = document.getElementsByClassName("alert");  // Return an array

        setTimeout(function(){
           if (m && m.length) {
               m[0].classList.add('hide');
           }
        }, 2000);
    </script>
    <style>
        #intro {
        background-image: url("{% static 'profile_bg.jpg' %}");
        background-size: cover;
      }

        #books {
        background-image: url("{% static 'profile_bg.jpg' %}");
        background-size: cover;
      }

        @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
            .alert {
            animation: fadeInDown;
            animation-duration: 2s;
            positition: relative;
            opacity: 0.5;
            visibility: visible;
            transform: translateX(0px);
            transition: visibility 0s, opacity 250ms, transform 250ms;
        }
        .alert.hide {
            animation: fadeOut;
            animation-duration: 4s;
            positition: relative;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-10px); // translateX, translateY, translateZ works well
            transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
        }
      }
    </style>
    <title>Books</title>
{% endblock %}


{% block body %}
        <div id="intro" class="bg-image shadow-2-strong" style="padding-top: 2.42%">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.4);">
                <div class="container d-flex align-items-center justify-content-center text-center">
                  <div class="text-white">
                    {% if messages %}
                          {% for message in messages %}
                              <div class="alert alert-{{ message.tags }}">
                                  {{ message }}
                              </div>
                          {% endfor %}
                      {% else %}
                          <br><br><br>
                      {% endif %}
                      <h1 class="font-weight-bold">Books</h1>
                        <br>
                        <div class="row">
                             {% for book in books_obj %}
                                <div class="col-sm-12 col-md-6 col-lg-4 pb-4">
                                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
                                    <img class="card-img-top" src="{% static 'book-bg-3.JPG' %}" alt="Card image cap">
                                    <div class="card-body">
                                        <a href="{% url 'book-detail' book.pk %}" style="color: white"><h5 class="card-title">{{ book.title }}</h5></a>
                                        <p class="card-text text-muted" style="font-size:12px"><a href="{% url 'author_detail' book.author.pk %}" style="color: white">Author: {{ book.author }}</a></p>
                                        <p class="card-text" style="height: 50px">Genres: {% for genre in book.genre.filter.all %} {{ genre.Name }} {% endfor %}</p>
                                        <div class="row">
                                                <div class="col-3 text-center">
                                                    {% if user.is_authenticated %}
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" value="{{book.pk}}" name="book_pk">
                                                            <button type="submit" class="btn btn-outline-light" style="font-size:18px; border-radius: 50%; color: crimson">♡</button>
                                                        </form>
                                                    {% else %}
                                                        <a href="{% url 'register' %}" class="btn btn-outline-light" style="font-size:18px; border-radius: 50%; color: crimson">♡</a>
                                                    {% endif %}
                                                </div>
                                                <div class="col-4 text-center">

                                                </div>
                                                <div class="col-5 text-center">
                                                    <a href="{% url 'add-book' book.pk %}" class="btn btn-outline-light">Add</a>
                                                </div>
        </div>
    </div>
</div>

                                </div>
                            {% endfor %}
                        </div>
                  </div>
                </div>
            </div>
        </div>
    {% endblock %}