{% extends "templates/navbar.html" %}
{% load static %}
{% load i18n %}

<link rel="stylesheet" href="for_charts/charts.css">
<script src="for_charts/colors-generator.js"></script>

{% block head %}
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js" integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <script>
    function createChart(chartId, chartData, colorScale, colorRangeInfo) {
          /* Grab chart element by id */
          const chartElement = document.getElementById(chartId);

          const dataLength = chartData.data.length;

          /* Create color array */
          var COLORS = interpolateColors(dataLength, colorScale, colorRangeInfo);


          /* Create chart */
          const myChart = new Chart(chartElement, {
            type: 'doughnut',
            data: {
              labels: chartData.labels,
              datasets: [
                {
                  backgroundColor: COLORS,
                  hoverBackgroundColor: COLORS,
                  data: chartData.data
                }
              ],
            },
            options: {
              responsive: true,
              legend: {
                display: false,
              },
              hover: {
                onHover: function(e) {
                  var point = this.getElementAtEvent(e);
                  e.target.style.cursor = point.length ? 'pointer' : 'default';
                },
              },
            }
          });

          return myChart;
        }

        function getRandomNumber(min, max) {
          return Math.round(Math.random() * (max - min) + min);
        }
    </script>
    <style>
        #intro {
            background-image: url("{% static 'profile_bg.jpg' %}");
            object-fit: cover;
          }
        @media (min-width: 992px) {
            #intro {
              margin-top: -58.59px;
            }
          }
    </style>
{% endblock %}

{% block body %}
    <div id="intro" class="bg-image shadow-2-strong" style="padding-top: 2.42%">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="container align-items-start justify-content-start text-start h-100">
              <div class="text-white">
              <br>
                  <div class="row">
                    <div class="col-sm" style="width: 40%">
                        <h1>{% trans "Genres for books" %}</h1>

                        <div class="chart-container"></div>
                        <div>
                            <canvas id="myChart"></canvas>
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script>
                          const ctx = document.getElementById('myChart');
                          Chart.defaults.color = '#fff';
                          var coloR = [];
                          let usedColors = new Set();

                          var dynamicColors = function() {
                              var r = Math.floor(Math.random() * 255);
                              var g = Math.floor(Math.random() * 255);
                              var b = Math.floor(Math.random() * 255);
                              let color = "rgb(" + r + "," + g + "," + b + ")";

                              if (!usedColors.has(color)) {
                                  usedColors.add(color);
                                  return color;
                              } else {
                                  return dynamicColors();
                              }
                          };

                          for (i = 0; i < 255; i++) {
                              coloR.push(dynamicColors());
                          }

                          var colorsList = ["#1984c5", "#22a7f0", "#63bff0", "#a7d5ed", "#e2e2e2", "#e1a692", "#de6e56",
                              "#e14b31", "#c23728", "#54bebe", "#76c8c8", "#98d1d1", "#badbdb", "#dedad2", "#e4bcad",
                              "#df979e", "#d7658b", "#c80064", "#d7e1ee", "#cbd6e4", "#bfcbdb", "#b3bfd1", "#a4a2a8",
                              "#df8879", "#c86558", "#b04238", "#991f17", "#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe",
                              "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7"

                          ]

                          const Chart1 = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [{% for genre in genres %}'{{ genre.Name|escapejs }}',{% endfor %}],
                              datasets: [{
                                label: 'Genres for books',
                                backgroundColor: colorsList,
                                data: [{% for num in nums %}
                                        {{ num }},
                                        {% endfor %}],
                                borderWidth: 1
                              }]
                            },
                            options: {
                                //responsive: true,
                              scales: {
                                y: {
                                  beginAtZero: true
                                }
                              },
                            }
                          });
                        </script>
                    </div>
                    <div class="col-sm" style="width: 40%">
                        <h1>{% trans "Books for authors" %}</h1>
                        <div>
                            <canvas id="SecondChart"></canvas>
                        </div>
                        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                        <script>
                            const ctx1 = document.getElementById('SecondChart');
                                Chart.defaults.color = '#fff';
                              const Second = new Chart(ctx1, {
                                type: 'pie',
                                data: {
                                    labels: [{% for author in authors %}'{{ author.Name|escapejs }} {{ author.Surname|escapejs }}',{% endfor %}],
                                  datasets: [{
                                    label: 'Books for authors',
                                    backgroundColor: colorsList,
                                    data: [{% for num_a in auth_nums %}
                                            {{ num_a }},
                                            {% endfor %}],
                                    borderWidth: 1
                                  }]
                                },
                                options: {
                                  scales: {
                                    y: {
                                      beginAtZero: true
                                    }
                                  },
                                }
                              });
                        </script>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}