{% extends "templates/navbar.html" %}
{% load i18n %}
{% load static %}

{% block head %}
        <title>Profile</title>
        <script>
        var m = document.getElementsByClassName("alert");  // Return an array

        setTimeout(function(){
           if (m && m.length) {
               m[0].classList.add('hide');
           }
        }, 2000);
    </script>
    <style>
            #intro {
            background-image: url("{% static 'profile_bg.jpg' %}");
            background-size: cover;
          }
            @media (min-width: 992px) {
            #intro {
              margin-top: -58.59px;
            }
          }
        .alert {
            animation: fadeInDown;
            animation-duration: 2s;
            positition: relative;
            opacity: 0.5;
            visibility: visible;
            transform: translateX(0px);
            transition: visibility 0s, opacity 250ms, transform 250ms;
        }
        .alert.hide {
            animation: fadeOut;
            animation-duration: 4s;
            positition: relative;
            opacity: 0;
            visibility: hidden;
            transform: translateX(-10px); // translateX, translateY, translateZ works well
            transition: visibility 0s 250ms, opacity 250ms, transform 250ms;
        }

    </style>
{% endblock %}

{% block body %}
    <div id="intro" class="bg-image shadow-2-strong" style="padding-top: 2.42%">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="container align-items-center justify-content-center text-center h-100">
              <div class="text-white">
                  <div class="container">
                                      {% if messages %}
                                          {% for message in messages %}
                                              <div class="alert alert-{{ message.tags }}">
                                                  {{ message }}
                                              </div>
                                          {% endfor %}
                                      {% else %}
                                          <br><br><br>
                                      {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                      <button type="submit" class="btn btn-dark">{% trans "Submit" %}</button>
                    </form>
                  </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}