{% extends "templates/navbar.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <script src="{% static 'js/script.js' %}"></script>
    <title>Profile</title>
    <link rel="preload" href="{% static 'profile_bg.jpg' %}" as=" image" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block body %}
    <div id="intro_profile" class="bg-image shadow-2-strong" style="padding-top: 2.42%">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="container align-items-start justify-content-start text-start h-100">
              <div class="text-white">
              <br><br><br>
                    <div class="t208__text t-text t-text_sm" field="text" style="color:#ffffff;font-size:20px;font-weight:600;font-family:'FuturaPT';text-transform:uppercase;">
                        <h1>
                            {% trans "Username" %}: {{ user.username }}
                        </h1>
                        <h1>
                            {% trans "Status" %}:
                            {% if user.profile.status %}
                                {{ user.profile.status }}
                            {% else %}
                                {% trans "None" %}
                            {% endif %}
                        </h1>
                    </div>
              <br><br>
                    <div class="container">
                        <h1>{% trans "Collections" %}</h1>
                            <div class="scroll">
                                {% for cl in collection %}
                                    <div class="overflow-auto">
                                        <div class="card text-white bg-dark mb-3">
                                            <div class="card-body">
                                                <h5 class="card-title"><a href="{% url 'books-for-collection' cl.pk %}">{{ cl.Name }}</a></h5>
                                                <p class="card-text">{% trans "Info" %}: {% if cl.Information %}
                                                    {{ cl.Information }}
                                                    {% else %}
                                                    None
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}