{% extends "templates/navbar.html" %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Book info</title>
{% endblock %}

{% block body %}
    <div id="intro_profile" class="bg-image shadow-2-strong" style="padding-top: 2.42%">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="container d-flex align-items-start justify-content-start text-start h-100">
              <div class="text-white">
                  <br><br><br>
                    <div class="t208__text t-text t-text_sm" field="text" style="color:#ffffff;font-size:20px;font-weight:600;">
                          <h1>{% trans "Title" %}: {{ book.title }}</h1>

                          <p><a href="{% url 'author_detail' book.author.pk %}"  style="color:white">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
                          <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                          <p><strong>{% trans "Genre" %}:</strong> {{ book.genre.all|join:", " }}</p>

                          <br><br/>
                    </div>
                    <h1 style="color: white">{% trans "Comments" %}</h1>
                    <i><p><a href="{% url 'add-comment' book.pk %}" style="color: white">{% trans "Add new" %}</a></p></i>
                    {% if not book.comments.all %}
                        {% trans "No comments yet" %}
                        <br>
                    {% else %}
                        <br>
                        {% for comment in book.comments.all %}
                            <strong>{{ comment.name }} - {{ comment.date_added }} </strong>
                            <br>
                            {{ comment.text }}
                            <br>
                            <br>
                        {% endfor %}
                    {% endif %}
              </div>
            </div>
        </div>
    </div>
{% endblock %}
